<!--<h3>ログインしているユーザーの名前</h3>-->
  
  <%= form_with model:@post, local:true do |f| %>
    <!--<%= f.label :"画像選択" %>-->
    <%= f.attachment_field :image %>
    <%= f.label :"コメント" %>
    <%= f.text_field :body %>
    <%= f.submit "投稿" %>
  <% end %>
   <% @posts.each do |post| %>
   <div>
     <div>
       <%= link_to post.user.user_name, user_path(post.user.id) %>
     </div>
       <div>
         <%= attachment_image_tag post, :image %>
       </div>
         <div>
           <%= post.body %>
         </div>
   </div>
     
     <div>
         <p><%= link_to "コメント#{post.post_comments.count}件" , post_path(post.id) %></p>
     </div>
   <% end %>