<div class="container">
  <div style="margin-top: 40px;">
    <div style="margin: 0 auto; width: 650px;">
       <div class="mb-2 mt-2 pl-2" style="width: 650px;">
         <%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"30x30" %><%= link_to @post.user.user_name, user_path(@post.user.id) %>
          
             <div class="d-inline-block" style="margin-left: 450px;">
               <%= link_to "投稿を削除", admin_user_post_path, method: :delete, "data-confirm"=>"本当に削除しますか", class:"btn btn-danger" %>
             </div>
         
       </div>
         <div>
           <%= attachment_image_tag @post, :image, :fill, 650, 650 %>
         </div>
           <div style="margin-top: 10px; margin-bottom: 10px;">
             <%= @post.body %>
           </div>
              <% if @post.video_id.present? != false %>
                <div>
                  <%= link_to @post.video_id.url.to_s do %>
                    <%= video_tag(@post.video_id.to_s, width: "100%", height: "100%", :controls => true) %>
                  <% end %>
                </div>
              <% end %>
   
     <div style="margin-top: 30px;">
      <%= link_to "#{@post.favorites.count}件のいいね", post_favorites_path(@post) %>
     </div>
      
            <div style="margin-top: 50px;">
              <h4>COMMENT</h4>
                <% @post.post_comments.each do |post_comment| %>
                  <div>
                    <a href="/users/<%= post_comment.user.id %>"><%= post_comment.user.user_name %></a>
                  </div>
                  
                    <div style="margin-left: 20px; width: 650px;">
                      <%= post_comment.comment %>
                        
                          <div class="d-inline-block" style="margin-left: 450px;">
                            <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-danger" %>
                          </div>
                        
                    </div>
                <% end %>
            </div>
       
     
    </div>
  </div>
</div>