<h3>ユーザー情報編集</h3>

 <%= form_with model: @user, local:true do |f| %>
   <table>
     <tbody>
       <tr>
         <td><%= f.label :"ユーザーネーム" %></td>
         <td><%= f.text_field :user_name %></td>
       </tr>
          <tr>
            <td><%= f.label :"自己紹介" %></td>
            <td><%= f.text_field :introduction %></td>
          </tr>
            <tr>
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.text_field :email %></td>
            </tr>
              <tr>
                <td><%= f.label :"電話番号" %></td>
                <td><%= f.text_field :telephone_number %></td>
     </tbody>
   </table>
   <%= f.submit "変更する" %>
 <% end %>
 
  <%= link_to "戻る", user_path(@user.id) %>