<!DOCTYPE html>
<html>
  <head>
    <title>CatPride</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if admin_signed_in? %>
      <li>管理者</li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
    
    <% elsif user_signed_in? %>
      <li><%= link_to "ホーム", "/" %></li>
      <li><%= link_to "プロフィール", user_path(current_user) %></li>
      <li><%= link_to "検索", search_users_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li>ユーザー</li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>  
    </header>
    <%= yield %>
  </body>
</html>
