<div class="container mt-5">
 <div class="text-danger">
   <%= render "users/shared/error_messages", resource: resource %>
 </div>
  <div class="text-center">
   <h4>新規登録画面</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

         <table class="table">
           <tbody>
             <tr>
　             <div class="field">
                 <td><%= f.label :"フルネーム" %></td>
                 <td><%= f.text_field :full_name, autofocus: true, autocomplete: "full_name" %></td>
               </div>
             </tr>
               <tr>
                 <div class="field">
                   <td><%= f.label :"ユーザーネーム" %></td>
                   <td><%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %></td>
                 </div>
               </tr>
                 <tr>
                   <div class="field">
                     <td><%= f.label :"電話番号" %></td>
                     <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
                   </div>
                 </tr>
                   <tr>
                     <div class="field">
                       <td><%= f.label :"メールアドレス" %></td>
                        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                     </div>
                   </tr>
                     <tr>
                       <div class="field">
                         <td><%= f.label :"パスワード" %>
                           <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                           <% end %></td>
                         <td><%= f.password_field :password, autocomplete: "new-password" %></td>
                       </div>
                     </tr>
                       <tr>
                         <div class="field">
                           <td><%= f.label :"パスワード(確認用)" %></td>
                           <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                         </div>
                       </tr>
           </tbody>
         </table>
           <div class="actions">
             <%= f.submit "新規登録", class:"btn btn-primary" %>
           </div>
     <% end %>
       <%= render "users/shared/links" %>
 </div>
</div>